
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="/css/main.css">
    <title>Home</title>
</head>
<body>
    <%- include("./parts/header.html") %>
    
    <h1 class="inicial-2 title">Listagem Geral de Eventos</h1>

    <section class="center ski-alinhar inicial centro flex">
        
      
       

    </section>


    
    
    
    <div class="center">
        
        <div class="botoes inicial-3 ">
            
            <a href="/lancar/" class="ski-btn-a dataSelec">Lançar</a>
            <details >
                <summary class="ski-summ-2 ">Relatórios</summary>
                <a href="" class="ski-btn-a dataSelec">Franquia</a>
            <a href="" class="ski-btn-a dataSelec">Despesa</a>
            <a href="" class="ski-btn-a dataSelec">Receita</a>
        </details>
        <details >
            <summary class="ski-summ-2 ">Relatórios Detalhados</summary>
            <a href="" class="ski-btn-a dataSelec">Franquia Detalhada</a>
            <a href="" class="ski-btn-a dataSelec">Despesa Detalhada</a>
            <a href="" class="ski-btn-a dataSelec">Receita Detalhada</a>
        </details>
        
    </div>
    
    
    <div class="clicaveis-mosaico">
        <a href="" class="clicaveis-2 ">
            <span>Receita Real</span>
            <span class="valor-1">receitaReal</span>
            
        </a>
        <a href="" class="clicaveis-2 ">
            <span>DESPE. REAL</span>
            
            <span class="valor-1">despesaReal</span>
        </a>
        <a href="" class="clicaveis-2">
            <span>FRANQUIA REAL</span>
            
            <span class="valor-1">franquiaReal</span>
            
        </a>
        <a href="" class="clicaveis-2">
            <span>SALDO  REAL</span>
            <span class="valor-1">saldoReal</span>
            
        </a>
        
    </div>
    
    <div class="geral center centro ski-fcolum">
        <a href="" class="clicaveis ski-alinhar">
            <span>COMPRA ISUMO EMB LIMP GAS AGUA E OUTRAS 2,25</span>
            <br>
            <h2>compraT</h2>
        </a>
        <a  class="clicaveis ski-alinhar">
            <span>LUCRO REAL</span>
            <br>
            <h2>t</h2>
        </a>
        
        
        
        
    </div>
    
    
    
    
</div>


</body>
</html>



    