<header class="topo ski-alinhar">
    <nav class="menu-desktop-2">
        <li><a href="/tudo/listar/dif">Listar</a></li>
        <li><a href="/tudo/busca">Busca</a></li>
        <li><a href="/listar-tudo">Eventos e Palestras</a></li>
        <li><a href="/tudo/listar/tudo">Eventos Gerais</a></li>
        <li><a href="/eventos/cadastrar-evento">Criar Evento</a></li>
        <li><a href="/tudo/cadastrar/select-evento">Cadastrar Participante</a></li>
       
    </nav>

    <div class="logo">Logo</div>

</header>
